$enable-negative-margins: true;
$enable-cssgrid: true;

$picsol : "linear-gradient(to bottom, rgba(85, 166, 48, 0.7) 0%, rgba(85, 166, 48, 0.7) 100%)";

$picm1 :"/kanakata/images/man1.jpg";
$pick1 :"/kanakata/images/kids1.jpg";
$picw1 :"/kanakata/images/woman1.gif";
$pics1 :"/kanakata/images/shoes1.jpg";
$pich1 :"/kanakata/images/hats1.jpg";
$picsg :"/kanakata/images/sungl1.jpg";
$picwa :"/kanakata/images/watch1.jpg";
