/* file import */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;900);
@font-face {
  font-family: "ODYWSS";
  src: url("/kanakata/fonts/ODYWSS.ttf.woff") format("woff"), url("/kanakata/fonts/ODYWSS.ttf.svg#ODYWSS") format("svg"), url("/kanakata/fonts/ODYWSS.ttf.eot"), url("/kanakata/fonts/ODYWSS.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Roboto;
  background-image: linear-gradient(140deg, #ffff8e, #a9d992);
}

.account {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), linear-gradient(140deg, #ffff8e, #a9d992);
}

.navbar {
  padding: 0;
  background-color: rgba(0, 127, 95, 0.2) !important;
  z-index: 2;
}

.navbar a, .navbar a:hover {
  font-size: 0.8rem;
  border-radius: 0% !important;
  border: none;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active, .nav-link.active {
  background-color: rgb(0, 127, 95) !important;
  color: rgb(238, 239, 32) !important;
}

.dropdown-item {
  color: #fff;
}

.navbar > li > a, .navbar > li > a:hover {
  font-size: 0.8rem;
  position: relative;
  top: 1px;
  border: none !important;
}

.navbar a:hover, .navbar a:active {
  background-color: #007f5f !important;
}

a:hover {
  color: #55a630;
}

.dropdown-menu {
  border: none;
  margin-top: 0;
  padding-bottom: 8px;
}

.dropdown-menu a:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.jp-lbg, .jp-lbg a {
  color: #fff;
  background-color: #55a630;
}

.jp-ddbg {
  color: #fff;
  border-radius: 0% !important;
  background-color: rgb(0, 127, 95) !important;
}

.navbar-nav .vr {
  display: inline-block;
  opacity: 0.1 !important;
  width: 1px;
}

.jp-socials a {
  float: left;
  padding-right: 5px;
}

.jp-col a:hover, .jp-col .active {
  color: #eeef20 !important;
}

.input-group-append {
  position: absolute;
  right: -2px;
}

.jp-inp, .jp-cat {
  border-color: #99ca83 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  z-index: 0;
  padding: 0.5em;
  margin: 0 !important;
}

.jp-inp {
  outline: none !important;
  box-shadow: none !important;
  border-color: #99ca83 !important;
  border-width: 1px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding-left: 1em;
  height: 2.5em;
  width: 15em;
}

.jp-inp::-moz-placeholder {
  font-size: 0.8rem;
}

.jp-inp:-ms-input-placeholder {
  font-size: 0.8rem;
}

.jp-inp::placeholder {
  font-size: 0.8rem;
}

.jp-cat, .jp-cat:hover {
  height: 2.5em;
  z-index: 11 !important;
  border-left-color: #99ca83;
  border-left-style: solid;
  border-radius: 0;
  color: #007f5f;
}

.jp-catnb:hover {
  background-color: #55a630;
  display: inline-block;
  padding: 0 !important;
  margin: 0 !important;
}

.jp-catnb:hover, .jp-catnb:hover > * {
  color: #fff !important;
}

.jp-cattop {
  margin: 0 !important;
  padding-right: 0px !important;
  display: inline-flex;
  width: auto;
}

.jp-btn {
  border-top-left-radius: 0% !important;
  border-bottom-left-radius: 0% !important;
  z-index: 12 !important;
  background-color: #99ca83;
  color: #fff;
  position: relative;
  left: -2px !important;
}

.jp-btn:hover {
  background-color: #fff;
  border-style: solid;
  border-color: #99ca83;
}

.jp-ddstext a {
  color: #55a630 !important;
}

.jp-usermenu {
  text-align: right;
}

.jp-um-link {
  text-decoration: none;
  color: #007f5f;
}

.jp-um-link:hover {
  background-color: #fff;
}

.badge {
  font-size: 0.5rem;
  background-color: #55a630;
  top: 4px !important;
}

.catbut {
  background-color: #99ca83;
  color: #fff;
}

.catbox {
  padding: 15px 28px 28px 28px !important;
  border: #99ca83 1px solid;
  margin-top: 8px !important;
}

.catbox:before {
  content: "";
  position: absolute;
  top: -15px;
  margin-top: -15px;
  left: 34px;
  border: solid 15px transparent;
  border-bottom-color: #99ca83;
  z-index: 1;
}

.catbox:after {
  content: "";
  position: absolute;
  top: -13px;
  margin-top: -15px;
  left: 34px;
  border: solid 15px transparent;
  border-bottom-color: #fff;
  z-index: 1;
}

.jp-hlcont {
  position: relative;
  top: -50px;
  right: 140px;
}

.jp-models {
  position: relative;
  top: -30px;
  left: -80px;
}

.jp-movehl {
  position: relative;
  left: 30px;
  top: 130px;
  z-index: 10;
}

.jp-headline1 {
  font-size: 5.3em;
  color: #007f5f;
  font-family: Titillium Web;
  font-weight: 400;
  line-height: 1em;
  display: block;
}

.jp-headline2 {
  font-family: Titillium Web;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 127, 95, 0.5);
  font-size: 5.4em;
  line-height: 1em;
  display: block;
}

.jp-hl-btn, .catbut {
  font-size: 1em;
  padding: 2px 20px;
  font-family: Titillium Web;
  color: #000;
  background-color: #fff;
  z-index: 10;
  line-height: 2em;
  border-color: #99ca83;
}

.jp-hl-btn:hover, .catbut:hover {
  background-color: #55a630;
  color: #fff;
}

.jp-models {
  filter: drop-shadow(15px 50px 8px rgba(61, 41, 57, 0.4));
}

.jp-options {
  position: relative !important;
  top: -500px !important;
  margin-bottom: -300px;
}

.jp-card {
  border: rgba(85, 166, 48, 0.6) 1px solid;
}

.jp-card, .jp-card-sel {
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.jp-card-sel {
  background-color: #55a630;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.img-square-wrapper {
  margin-top: auto;
  margin-bottom: auto;
}

.jp-card .greenpic {
  display: inline;
}

.jp-card .whitepic {
  display: none;
}

.jp-card-sel .greenpic {
  display: none;
}

.jp-card-sel .whitepic {
  display: inline;
}

.card-title, h3 {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #55a630;
  opacity: 100%;
  border-bottom: rgba(85, 166, 48, 0.6) 1px solid;
}

.card-text {
  font-size: 0.9em;
  color: #007f5f;
  opacity: 100%;
}

.jp-card-sel .card-title, .jp-card-sel .card-text {
  color: #fff !important;
}

.card-body {
  padding: 1em 0.3em 1em 1em;
}

.jp-card-sel .card-title {
  opacity: 60%;
  border-bottom: rgba(255, 255, 255, 0.6) 1px solid;
}

.jpg-fw {
  display: block;
  position: relative;
  z-index: 12 !important;
  background-image: linear-gradient(140deg, #ffff8e, #a9d992);
  padding-top: 2em;
  justify-content: center !important;
  font-family: Titillium Web;
  overflow: hidden;
}

.jpg-toptext {
  text-align: center;
  margin-bottom: 1em;
}

.jpg-desctitel {
  font-size: 3em;
  display: block;
  font-weight: 900;
  color: #007f5f;
  margin-bottom: 0;
  text-transform: uppercase;
}

.jpg-desctitel span {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 127, 95, 0.3);
}

.jpg-desctext {
  display: inline;
}

#jpg-wrapper {
  display: grid !important;
  grid-template-columns: none !important;
  grid-auto-rows: 11em !important;
  grid-gap: 1em !important;
  margin-bottom: 4em;
  grid-template-columns: repeat();
}

#jpg-wrapper:hover {
  cursor: pointer;
}

#jpg-wrapper div {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

#jpg-pic1 {
  background: url(/kanakata/images/man1.jpg) !important;
  background-size: cover !important;
}

#jpg-pic2 {
  background: url(/kanakata/images/kids1.jpg) !important;
  background-size: cover !important;
}

#jpg-pic3 {
  background: url(/kanakata/images/woman1.gif) !important;
  background-size: cover !important;
}

#jpg-pic4 {
  background: url(/kanakata/images/shoes1.jpg) !important;
  background-size: cover !important;
}

#jpg-pic5 {
  background: url(/kanakata/images/hats1.jpg) !important;
  background-size: cover !important;
}

#jpg-pic6 {
  background: url(/kanakata/images/watch1.jpg) !important;
  background-size: cover !important;
}

#jpg-pic7 {
  background: url(/kanakata/images/sungl1.jpg) !important;
  background-size: cover !important;
}

#jpg-wrapper div:hover {
  background-blend-mode: normal;
}

#jpg-wrapper div span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  color: #000;
  padding: 0.2em 2.5em 0.3em 1em;
}

.jpg-wide1 {
  grid-row: 1/2 !important;
  grid-column: 2/span 2 !important;
}

.jpg-wide2 {
  grid-row: 3/4 !important;
  grid-column: 4/span 2 !important;
}

.jpg-big1 {
  grid-row: 1/span 2 !important;
  grid-column: 4/span 2 !important;
}

.jpg-big2 {
  grid-row: 2/span 2 !important;
  grid-column: 1/span 2 !important;
}

.jp-car-row {
  text-align: center;
  justify-content: center;
}

.greentitl {
  z-index: 11 !important;
}

.greenol {
  background-color: #55a630 !important;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.5;
}

.jpg-block {
  transform: scale(1);
}

.jpg-block:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  z-index: 20;
  outline: 2px solid #fff;
}

.jpg-block:hover .greenol {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.carousel-control-next, .carousel-control-prev {
  display: block;
  text-decoration: none;
  font-size: 3em;
  top: 0 !important;
  width: 100%;
  height: 500px;
  padding: 0;
  padding-top: 220px;
}

.carousel-control-next {
  left: 520px;
  text-align: left;
}

.carousel-control-prev {
  left: -520px;
  text-align: right;
}

.jp-slide {
  height: 500px;
  width: 524px;
  background: none;
}

.jp-car {
  height: 500px;
  background: none;
  border: none;
}

.jp-car img {
  position: absolute;
  left: 0;
  height: 100%;
  border-radius: 0.5em;
}

#jpc1::before, #jpc1::after, #jpc2::before, #jpc2::after, #jpc3::before, #jpc3::after {
  content: "";
  position: absolute;
  top: 50px;
  height: 400px;
  width: 400px;
  display: block;
  opacity: 0.2;
  z-index: 1;
}

#jpc1, #jpc2, #jpc3 {
  z-index: 10;
}

#jpc1:not(.active.carousel-item-end)::before {
  background: url(/kanakata/images/lapic3.jpg);
  background-size: cover;
  left: -450px;
  border-radius: 0.5em;
}

#jpc1:not(.active.carousel-item-start)::after {
  background: url(/kanakata/images/lapic2.jpg);
  background-size: cover;
  left: 550px;
  border-radius: 0.5em;
}

#jpc2:not(.active.carousel-item-end).active::before {
  background: url(/kanakata/images/lapic1.jpg);
  background-size: cover;
  left: -450px;
  border-radius: 0.5em;
}

#jpc2:not(.active.carousel-item-start)::after {
  background: url(/kanakata/images/lapic3.jpg);
  background-size: cover;
  left: 550px;
  border-radius: 0.5em;
}

#jpc3:not(.active.carousel-item-end).active::before {
  background: url(/kanakata/images/lapic2.jpg);
  background-size: cover;
  left: -450px;
  border-radius: 0.5em;
}

#jpc3:not(.active.carousel-item-start)::after {
  background: url(/kanakata/images/lapic1.jpg);
  background-size: cover;
  left: 550px;
  border-radius: 0.5em;
}

.carousel-item {
  position: relative;
  opacity: 1;
  transition-property: opacity, transform;
}

.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%) scale(0.8);
  opacity: 0.2 !important;
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start, .carousel-item-prev-start {
  transform: translateX(-100%) scale(0.8);
  opacity: 0.2;
}

#jp-car-ofl {
  overflow: visible;
}

.carousel-control-next, .carousel-control-prev, .carousel-indicators {
  filter: invert(100%);
  z-index: 20;
}

.dark .carousel-control-next, .dark .carousel-control-prev, .dark.carousel-indicators {
  filter: none;
}

.cartext {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(85, 166, 48);
  color: #fff;
  width: 300px;
  height: 40px;
  padding: 6px 10px 8px 20px;
  transition: all 0.3s ease-in-out;
  border-radius: 0 0.5em 0 0.5em;
  text-align: left;
  overflow: hidden;
}

.cartitle {
  font-weight: 900;
  margin-left: 10px;
}

.cartext i {
  float: right;
  margin-top: 5px;
}

.jp-car-boxtext {
  display: block;
  margin: 10px 0 0 10px;
  width: 70%;
  opacity: 0;
}

.jp-car-boxicons {
  display: none;
  width: 50px;
  background-color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 24px;
}

.biitem, .biitem i {
  display: block !important;
  font-size: 1.16em;
  text-align: center;
  color: #55a630;
  width: 100%;
  position: relative;
}

.biitem i {
  width: 40px;
  padding: 10px 0 8px 0;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
}

.bii1 {
  top: 25px !important;
}

.bii2 {
  top: 74px !important;
}

.bii3 {
  top: 121px !important;
}

.bii4 {
  top: 175px !important;
}

.biitem i:hover {
  color: #fff;
  background-color: #007f5f;
}

.jp-car:hover .cartext {
  width: 100%;
  height: 100%;
  background-color: rgba(85, 166, 48, 0.7);
  border-radius: 0.5em;
}

.jp-car:hover .jp-car-boxicons {
  display: inline;
}

.jp-car:hover .cartext i {
  display: none;
}

.jp-car:hover .cartitle {
  display: block;
  margin-top: 180px;
  font-size: 1.6em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.jp-car:hover .jp-car-boxtext {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  transition-delay: 0.2s;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.carsizes, .cardisc, .carprice {
  font-family: Roboto;
  display: block;
  margin: 10px 0 10px 0;
}

.cardisc, .carprice {
  font-family: "ODYWSS";
  color: #000;
  text-shadow: none;
}

.cardisc::before {
  content: url("/kanakata/images/pglabel.svg");
  display: block;
  width: 120px !important;
  margin-bottom: -40px;
  margin-left: -17px;
  z-index: 7 !important;
}

.cardisc {
  font-size: 1.7em;
  margin: 10px 0 0 0;
  position: relative;
  top: -10px;
  line-height: 0.5em;
  color: #9fcb8b;
  transform: rotate(-10deg);
  z-index: 8 !important;
}

.cardisc::after {
  content: url("/kanakata/images/pglabelst.svg");
  display: block;
  width: 120px !important;
  margin-top: -40px;
  margin-left: 0px;
  z-index: 7 !important;
}

.carprice::before {
  content: url("/kanakata/images/pglabel.svg");
  display: block;
  width: 158px !important;
  margin-bottom: -85px;
  margin-left: -24px;
  z-index: 29 !important;
}

.carprice {
  font-size: 2.3em;
  position: relative;
  margin: 15px 0 10px 20px !important;
  z-index: 30 !important;
  transform: rotate(1deg);
}

.circnew {
  display: block !important;
  position: absolute;
  height: 70px;
  width: 70px;
  top: 20px;
  left: 20px;
  border-radius: 35px;
  text-align: center;
  color: #fff;
  background-color: #007f5f;
  z-index: 20 !important;
}

.circnew span {
  display: block;
  margin: 0.8em 0 0 0;
  font-size: 1.4em;
  transform: rotate(-20deg);
}

.maformsinp {
  padding: 10px;
  border-radius: 0.5em;
  margin-bottom: 10px;
  border: #9fcb8b 1px solid;
}

.maformsfw {
  display: block;
  width: 100%;
}

.maforms span {
  text-transform: uppercase;
  font-family: Titillium Web;
  padding-bottom: 6px;
  margin-bottom: 15px;
  border-bottom: #55a630 1px solid;
}

.maforms {
  display: block;
  padding: 20px;
  background-image: linear-gradient(170deg, #fff, #ffff8e);
  border-radius: 1em;
  height: 100%;
}

.maforms .btn {
  background-color: #007f5f;
  color: #fff;
}

.maforms label {
  display: inline;
}

.recaplbl {
  display: block !important;
  border: rgba(85, 166, 48, 0.2) 1px solid;
}

.maforms p {
  float: right;
  padding-top: 10px;
}

.valicen {
  width: 15px;
  height: 15px;
  padding: 0;
  margin-right: 6px;
  vertical-align: bottom;
  position: relative;
  top: -4px;
}

.valilbl {
  float: left;
  display: block;
  padding: 10px 0 0 15px;
  text-indent: -15px;
}

.orlogin {
  display: block;
  clear: both;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.orlogin:before,
.orlogin:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.orlogin:before {
  right: 0.5em;
  margin-left: -50%;
}

.orlogin:after {
  left: 0.5em;
  margin-right: -50%;
}

.externlogin {
  display: block;
  width: 40%;
  background-color: #4C69BA;
  padding: 4px 10px;
  text-align: center;
  float: left;
  margin: 16px 0 25px 0;
  color: #fff;
}

.externlogin i {
  float: left;
  padding: 2px 0 0 2px;
  font-size: 1.5em;
  vertical-align: middle;
}

.externlogin img {
  height: 1.5em;
  float: left;
  background-color: #fff;
  padding: 2px;
}

.recaplbl {
  margin: 0 auto;
  width: 50%;
  background-color: #fff;
  text-align: center;
  margin-bottom: 8px;
}

.recaplbl img {
  height: 60px;
  width: auto;
  padding: 5px;
}

.recaplbl input {
  height: 20px;
  width: 20px;
  position: relative;
  top: -21px;
}

#maforminfo {
  border: none;
  font-size: 0.8em !important;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 8px;
}

#error1, #error2, #error3, #error4, #error5 {
  background-color: red;
  color: #ffffff;
  padding: 1px 10px 0 10px;
  font-size: 0.7em;
  position: relative;
  float: left;
  top: -1em;
  left: 1em;
  margin-right: -100%;
  display: none;
}

#valid1, #valid2, #valid3, #valid4, #valid5 {
  color: #03bf03;
  position: relative;
  float: right;
  font-size: 2em;
  margin-bottom: -2em;
  margin-right: 10px;
  top: 1em;
  display: none;
}

.jp-logo {
  position: relative;
  width: 230px;
  height: auto;
  margin-top: -20px;
  z-index: 20;
}

.cdimg {
  display: inline;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0;
  z-index: 10 !important;
}

.cdown {
  font-family: Roboto;
  display: inline;
  position: relative;
  top: 10px;
  left: 30px;
  z-index: 20 !important;
  color: #fff !important;
  font-size: 3em;
  margin-bottom: -3em;
  margin-left: -2.3em;
}

.cdtext {
  position: relative;
  display: inline-block;
  z-index: 18;
  top: 24px;
  left: -50px;
  width: 100px !important;
  color: #ffff80;
  font-size: 0.7em;
  margin: auto;
}

.jp-footer {
  padding: 20px 0 20px 0;
  position: relative;
}

.jp-footer::after {
  position: absolute;
  content: "";
  border-top: 1px solid #000;
  -o-border-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) 1;
     border-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) 1;
  width: 100%;
  top: 0;
  left: 0;
}

.jp-footer li {
  list-style: none;
}

.jpg-fw::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #000;
  -o-border-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) 1;
     border-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) 1;
  width: 100%;
  top: 0;
  left: 0;
}

.jpg-fw::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #fff;
  -o-border-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
     border-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  width: 100%;
  top: 1px;
  left: 0;
}

.footimg {
  height: 50px;
  width: auto;
  padding: 0 0 3px 30px;
}

@media only screen and (max-width: 992px) {
  .jp-usermenu {
    position: relative;
    top: -78px;
  }
  .jp-movehl {
    position: relative;
    left: 20px;
    top: 90px;
    z-index: 10;
  }
  .jp-headline1 {
    font-size: 2.3em;
  }
  .jp-headline2 {
    font-size: 4.8em;
  }
  .jp-models {
    top: 0px;
  }
  .jp-modelspic {
    width: 420px;
    height: auto;
  }
  .jp-hlcont {
    position: relative;
    top: -20px;
    right: auto;
    overflow: hidden;
  }
  .jp-options {
    top: -130px !important;
  }
  .jp-card, .jp-card-sel {
    margin-bottom: 20px !important;
  }
  #jpg-wrapper {
    display: grid !important; /* 1 */
    grid-template-columns: none !important; /* 2 */
    grid-auto-rows: 11em !important; /* 3 */
    grid-gap: 1em !important; /* 4 */
    margin-bottom: 4em;
  }
  .jpg-wide1 {
    grid-row: 2/3 !important; /* 6 */
    grid-column: 1/3 !important; /* 6 */
  }
  .jpg-wide2 {
    grid-row: 5/6 !important; /* 6 */
    grid-column: 1/3 !important; /* 6 */
  }
  .jpg-big1 {
    grid-row: 3/5 !important; /* 6 */
    grid-column: 1/3 !important; /* 6 */
  }
  .jpg-big2 {
    grid-row: 5/7 !important; /* 6 */
    grid-column: 1/3 !important; /* 6 */
  }
  .jp-options {
    position: relative !important;
    top: 0px !important;
    margin-bottom: 0px;
  }
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon,
.navbar-toggler-icon:focus {
  border: 1px none;
  outline: none;
  box-shadow: none;
}

/* DARK */
.dark {
  background-color: #000 !important;
  background-image: linear-gradient(140deg, #313628, #0d0e01);
  color: #fff;
}

.dark a {
  color: #fff;
}

.dark .jp-card {
  background-color: rgba(0, 127, 95, 0.5);
}

.dark .jp-card-sel {
  background-color: #000;
}

.dark .jp-cat, .dark .form-control, .dark .catbox, .dark .catbut {
  background-color: #000 !important;
  color: #fff;
}

.dark .navbar {
  background-color: rgba(0, 127, 95, 0.4) !important;
}

.dark .jp-inp, .jp-cat {
  border-color: #007f5f !important;
}

.dark .jp-cat, .jp-cat:hover {
  border-left-color: #007f5f;
  color: rgba(255, 255, 255, 0.7);
}

.dark .jp-catnb:hover {
  background-color: #55a630;
}

.dark .jp-btn {
  background-color: #007f5f;
  color: #fff;
}

.dark .jp-btn:hover {
  background-color: #fff;
  border-color: #007f5f;
  color: #000;
}

.dark .catbut {
  border-color: #007f5f;
}

.jp-inp::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.jp-inp:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.jp-inp::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.dark .jpg-fw {
  background-image: linear-gradient(140deg, #313628, #1d1e11);
}

.dark .jp-models {
  filter: drop-shadow(0px 0px 55px rgba(255, 255, 255, 0.2));
}

.dark #jpg-pic1 {
  border: #007f5f solid 1px;
  background: url(/kanakata/images/man1.jpg) !important;
  background-size: cover !important;
}

.dark #jpg-pic2 {
  border: #007f5f solid 1px;
  background: url(/kanakata/images/kids1.jpg) !important;
  background-size: cover !important;
}

.dark #jpg-pic3 {
  border: #007f5f solid 1px;
  background: url(/kanakata/images/woman1.gif) !important;
  background-size: cover !important;
}

.dark #jpg-pic4 {
  border: #007f5f solid 1px;
  background: url(/kanakata/images/shoes1.jpg) !important;
  background-size: cover !important;
}

.dark #jpg-pic5 {
  border: #007f5f solid 1px;
  background: url(/kanakata/images/hats1.jpg) !important;
  background-size: cover !important;
}

.dark #jpg-pic6 {
  border: #007f5f solid 1px;
  background: url(/kanakata/images/watch1.jpg) !important;
  background-size: cover !important;
}

.dark #jpg-pic7 {
  border: #007f5f solid 1px;
  background: url(/kanakata/images/sungl1.jpg) !important;
  background-size: cover !important;
}

#jpg-pic1:hover {
  background: url(/kanakata/images/man1.jpg) !important;
  background-size: cover !important;
}

#jpg-pic2:hover {
  background: url(/kanakata/images/kids1.jpg) !important;
  background-size: cover !important;
}

#jpg-pic3:hover {
  background: url(/kanakata/images/woman1.gif) !important;
  background-size: cover !important;
}

#jpg-pic4:hover {
  background: url(/kanakata/images/shoes1.jpg) !important;
  background-size: cover !important;
}

#jpg-pic5:hover {
  background: url(/kanakata/images/hats1.jpg) !important;
  background-size: cover !important;
}

#jpg-pic6:hover {
  background: url(/kanakata/images/watch1.jpg) !important;
  background-size: cover !important;
}

#jpg-pic7:hover {
  background: url(/kanakata/images/sungl1.jpg) !important;
  background-size: cover !important;
}/*# sourceMappingURL=style.css.map */