/* file import */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css2?family=Cairo+Play:wght@400;900);
body {
  font-family: Roboto;
  background-image: linear-gradient(140deg, #fff, #ffff3f);
}

.navbar {
  padding: 0;
  background-color: rgba(0, 127, 95, 0.2) !important;
}

.navbar a, .navbar a:hover {
  font-size: 0.8rem;
  border-radius: 0% !important;
  border: none;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active, .nav-link.active {
  background-color: rgb(0, 127, 95) !important;
  color: rgb(238, 239, 32) !important;
}

.dropdown-item {
  color: #fff;
}

.navbar > li > a, .navbar > li > a:hover {
  font-size: 0.8rem;
  position: relative;
  top: 1px;
  border: none !important;
}

.navbar a:hover, .navbar a:active {
  background-color: #007f5f !important;
}

a:hover {
  color: #55a630;
}

.dropdown-menu {
  border: none;
  margin-top: 0;
  padding-bottom: 8px;
}

.dropdown-menu a:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.jp-lbg, .jp-lbg a {
  color: #fff;
  background-color: #55a630;
}

.jp-ddbg {
  color: #fff;
  border-radius: 0% !important;
  background-color: rgb(0, 127, 95) !important;
}

.navbar-nav .vr {
  display: inline-block;
  opacity: 0.1 !important;
  width: 1px;
}

.jp-socials a {
  float: left;
  padding-right: 5px;
}

.jp-col a:hover, .jp-col .active {
  color: #eeef20 !important;
}

.input-group-append {
  position: absolute;
  right: -2px;
}

.jp-inp, .jp-cat {
  border-color: #99ca83 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  z-index: 0;
  padding: 0.5em;
  margin: 0 !important;
}

.jp-inp {
  outline: none !important;
  box-shadow: none !important;
  border-color: #99ca83 !important;
  border-width: 1px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding-left: 1em;
  height: 2.5em;
  width: 15em;
}

.jp-inp::-moz-placeholder {
  font-size: 0.8rem;
}

.jp-inp:-ms-input-placeholder {
  font-size: 0.8rem;
}

.jp-inp::placeholder {
  font-size: 0.8rem;
}

.jp-cat, .jp-cat:hover {
  height: 2.5em;
  z-index: 11 !important;
  border-left-color: #99ca83;
  border-left-style: solid;
  border-radius: 0;
  color: #007f5f;
}

.jp-catnb:hover {
  background-color: #55a630;
  display: inline-block;
  padding: 0 !important;
  margin: 0 !important;
}

.jp-catnb:hover, .jp-catnb:hover > * {
  color: #fff !important;
}

.jp-cattop {
  margin: 0 !important;
  padding-right: 0px !important;
  display: inline-flex;
  width: auto;
}

.jp-btn {
  border-top-left-radius: 0% !important;
  border-bottom-left-radius: 0% !important;
  z-index: 12 !important;
  background-color: #99ca83;
  color: #fff;
  position: relative;
  left: -2px !important;
}

.jp-btn:hover {
  background-color: #fff;
  border-style: solid;
  border-color: #99ca83;
}

.jp-ddstext a {
  color: #55a630 !important;
}

.jp-usermenu {
  text-align: right;
}

.jp-um-link {
  text-decoration: none;
  color: #007f5f;
}

.jp-um-link:hover {
  background-color: #fff;
}

.badge {
  font-size: 0.5rem;
  background-color: #55a630;
  top: 4px !important;
}

.catbut {
  background-color: #99ca83;
  color: #fff;
}

.catbox {
  padding: 15px 28px 28px 28px !important;
  border: #99ca83 1px solid;
  margin-top: 8px !important;
}

.catbox:before {
  content: "";
  position: absolute;
  top: -15px;
  margin-top: -15px;
  left: 34px;
  border: solid 15px transparent;
  border-bottom-color: #99ca83;
  z-index: 1;
}

.catbox:after {
  content: "";
  position: absolute;
  top: -13px;
  margin-top: -15px;
  left: 34px;
  border: solid 15px transparent;
  border-bottom-color: #fff;
  z-index: 1;
}

.jp-hlcont {
  position: relative;
  top: -50px;
  right: 140px;
}

.jp-models {
  position: relative;
  top: -30px;
  left: -80px;
}

.jp-movehl {
  position: relative;
  left: 30px;
  top: 130px;
  z-index: 10;
}

.jp-headline1 {
  font-size: 5.3em;
  color: #007f5f;
  font-family: Cairo Play;
  font-weight: 400;
  line-height: 1em;
  display: block;
}

.jp-headline2 {
  font-family: Cairo Play;
  font-weight: 900;
  text-transform: uppercase;
  color: #55a630;
  font-size: 5.4em;
  line-height: 1em;
  display: block;
}

.jp-hl-btn, .catbut {
  font-size: 1em;
  padding: 2px 20px;
  font-family: Cairo Play;
  color: #000;
  background-color: #fff;
  z-index: 10;
  line-height: 2em;
  border-color: #99ca83;
}

.jp-hl-btn:hover, .catbut:hover {
  background-color: #55a630;
  color: #fff;
}

.jp-models {
  filter: drop-shadow(15px 50px 8px rgba(61, 41, 57, 0.4));
}

.jp-options {
  position: relative !important;
  top: -500px !important;
  margin-bottom: -300px;
}

.jp-card {
  border: rgba(85, 166, 48, 0.6) 1px solid;
}

.jp-card, .jp-card-sel {
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.jp-card-sel {
  background-color: #55a630;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.img-square-wrapper {
  margin-top: auto;
  margin-bottom: auto;
}

.jp-card .greenpic {
  display: inline;
}

.jp-card .whitepic {
  display: none;
}

.jp-card-sel .greenpic {
  display: none;
}

.jp-card-sel .whitepic {
  display: inline;
}

.card-title, h3 {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #55a630;
  opacity: 100%;
  border-bottom: rgba(85, 166, 48, 0.6) 1px solid;
}

.card-text {
  font-size: 0.9em;
  color: #007f5f;
  opacity: 100%;
}

.jp-card-sel .card-title, .jp-card-sel .card-text {
  color: #fff !important;
}

.card-body {
  padding: 1em 0.3em 1em 1em;
}

.jp-card-sel .card-title {
  opacity: 60%;
  border-bottom: rgba(255, 255, 255, 0.6) 1px solid;
}

.jpg-fw {
  display: block;
  position: relative;
  z-index: 12 !important;
  background-color: #a9d992;
  padding-top: 2em;
  justify-content: center !important;
  font-family: Cairo Play;
}

.jpg-toptext {
  text-align: center;
  margin-bottom: 1em;
}

.jpg-desctitel {
  font-size: 3em;
  display: block;
  font-weight: 900;
  color: #007f5f;
  margin-bottom: 0;
}

.jpg-desctitel span {
  color: #fff;
}

.jpg-desctext {
  display: inline;
}

#jpg-wrapper {
  display: grid !important; /* 1 */
  grid-template-columns: none !important; /* 2 */
  grid-auto-rows: 11em !important; /* 3 */
  grid-gap: 1em !important; /* 4 */
  margin-bottom: 4em;
}

#jpg-wrapper div {
  position: relative;
}

#jpg-wrapper div span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  color: #000;
  padding: 0.2em 2.5em 0.3em 1em;
}

.jpg-wide1 {
  grid-row: 1/2 !important; /* 6 */
  grid-column: 2/4 !important; /* 6 */
}

.jpg-wide2 {
  grid-row: 3/4 !important; /* 6 */
  grid-column: 4/6 !important; /* 6 */
}

.jpg-big1 {
  grid-row: 1/3 !important; /* 6 */
  grid-column: 4/6 !important; /* 6 */
}

.jpg-big2 {
  grid-row: 2/4 !important; /* 6 */
  grid-column: 1/3 !important; /* 6 */
}

.jpg-block {
  background-color: #55a630;
}

@media only screen and (max-width: 992px) {
  .jp-usermenu {
    position: relative;
    top: -78px;
  }
  .jp-movehl {
    position: relative;
    left: 20px;
    top: 90px;
    z-index: 10;
  }
  .jp-headline1 {
    font-size: 2.3em;
  }
  .jp-headline2 {
    font-size: 4.8em;
  }
  .jp-models {
    top: 0px;
  }
  .jp-modelspic {
    width: 420px;
    height: auto;
  }
  .jp-hlcont {
    position: relative;
    top: -20px;
    right: auto;
    overflow: hidden;
  }
  .jp-options {
    top: -130px !important;
  }
  .jp-card, .jp-card-sel {
    margin-bottom: 20px !important;
  }
  #jpg-wrapper {
    display: grid !important; /* 1 */
    grid-template-columns: none !important; /* 2 */
    grid-auto-rows: 11em !important; /* 3 */
    grid-gap: 1em !important; /* 4 */
    margin-bottom: 4em;
  }
  .jpg-wide1 {
    grid-row: 2/3 !important; /* 6 */
    grid-column: 1/3 !important; /* 6 */
  }
  .jpg-wide2 {
    grid-row: 5/6 !important; /* 6 */
    grid-column: 1/3 !important; /* 6 */
  }
  .jpg-big1 {
    grid-row: 3/5 !important; /* 6 */
    grid-column: 1/3 !important; /* 6 */
  }
  .jpg-big2 {
    grid-row: 5/7 !important; /* 6 */
    grid-column: 1/3 !important; /* 6 */
  }
  .jp-options {
    position: relative !important;
    top: 0px !important;
    margin-bottom: 0px;
  }
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon,
.navbar-toggler-icon:focus {
  border: 1px none;
  outline: none;
  box-shadow: none;
}/*# sourceMappingURL=style.css.map */